@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Londrina Solid', 'sans-serif';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-color: #2d2d2d;
    overflow: scroll;
}

.container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}


/* header */

header {
    width: 100%;
    background-color: #2d2d2d;
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    position: fixed;
    padding: 15px;
    padding-right: 35px;
    z-index: 3;
}

.white01 {
    border-radius: 50%;

}

.contact {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}

.language {
    
    cursor: pointer;
}

.tel {
    cursor: pointer;
    border-radius: 50%;
}
.tel:hover {
    opacity: 50%;
}



/* main */

main {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.text-1 {
    display: flex;
    background-image: url("./assets/pozadina.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    padding-top: 200px;
}

.small-headline {
    font-size: 22px;
    background-color: rgb(209, 113, 113);
    width: 98%;
    text-align: center;
    color: var(--colorsmart);
    padding: 10px;
    box-shadow: -2px 1px 30px -10px rgba(0, 0, 0, 0.7);
    border-radius: 8px;
    cursor: pointer;
    opacity: 0.5;
}

.options {
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    /* opacity: 0.3; */
    margin-left: 25px;
    gap: 5px;
}

/* .hidden {
    display: none;
} */

table {
    border: 1px solid rgb(0, 0, 0);
    width: 100%;
    box-shadow: -2px 1px 30px -10px rgba(0, 0, 0, 0.6);
    background-color: whitesmoke;
    margin-bottom: 20px;
    border-radius: 8px;
    cursor: pointer;
    opacity: 0.5;
}

td {
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 7px;
    padding-left: 17px;
    cursor: pointer;
}

.invisible {
    display: none;
}

.photos {
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: center;
    background-color: #2d2d2d;
    gap: 5px;
}

.red-blend {
    width: 30%;
    height: 300px;
    border: 2px solid rgb(146, 105, 105);
    border-radius: 8px;
    color: whitesmoke;
    background-image: url("./assets/red-blend.png");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    cursor: pointer;
    color: tomato;
    font-size: 25px;
    line-height: 28px;
}
.red-blend:hover {
    width: 36%;
    height: 330px;
    color: white;
    font-size: 30px;
    background-image: url("./assets/espesso.png");
}

.es-txt {
    transform: rotate(-15deg);
    margin: auto;
    margin-top: 45px;
}

.utopia-blend {
    width: 30%;
    height: 300px;
    border: 2px solid rgb(146, 105, 105);
    border-radius: 8px;
    background-image: url("./assets/utopia-blend.png");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    cursor: pointer;
    color: tomato;
    font-size: 25px;
    line-height: 28px;
}
.utopia-blend:hover {
    width: 36%;
    height: 330px;
    color: white;
    font-size: 30px;
    background-image: url("./assets/kafa.png");
}

.ipanema-blend {
    width: 30%;
    height: 300px;
    border: 2px solid rgb(146, 105, 105);
    border-radius: 8px;
    background-image: url("./assets/ipanema-blend.png");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    cursor: pointer;
    color: tomato;
    font-size: 25px;
    line-height: 28px;
}
.ipanema-blend:hover {
    width: 36%;
    height: 330px;
    color: white;
    font-size: 30px;
    background-image: url("./assets/ipanema.png");
}

.vivax {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #2d2d2d;
    position: relative;
}

.player {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    margin: auto;
    padding-top: 30px;
}

button {
    background-color: rgb(207, 109, 64);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    color: whitesmoke;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    border: 1px solid black;
    cursor: pointer;
    box-shadow: -2px 1px 30px -10px rgba(0, 0, 0, 0.7);
    position: absolute;
    margin: auto;
    top: 50%;
    cursor: pointer;
    opacity: 0.6;
    z-index: 2;
}

video {
    width: 87%;
    height: auto;
    border: 1px solid whitesmoke;
    border-radius: 6px;
    padding: 5px;
    box-shadow: -2px 1px 30px -10px rgba(0, 0, 0, 0.7);
}

.active {
    color: violet;
}
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #2d2d2d;
    color: whitesmoke;
    padding: 50px;
}

@media (max-width: 480px) {

    header {
        margin: auto;
        padding: 7px;
    }

    .white01 {
        width: 70px;
        height: 70px;
    }

    .text-1 {
        margin: auto;
        justify-content: center;
        padding: 5px;
        padding-top: 100px;
        background-image: url("./assets/enterijer-mob.png");
    }

    .f1 {
        height: 100px;
    }

    .central-nav {
        font-size: 18px;
        text-align: center;
        gap: 0px;
    }

    span {
        display: none;
    }
    
    .language {
        display: none;
    }

    .options {
        width: 80%;
        margin-bottom: 15px;
        margin-left: 0px;
    }

    .photos {
        width: 90%;
        justify-content: space-between;
        margin: auto;
    }

    .red-blend {
        background-image: url("./assets/red-blend-mob.png");
    }
    .utopia-blend {
        background-image: url("./assets/utopia-blend-mob.png");
    }
    .ipanema-blend {
        background-image: url("./assets/ipanema-blend-mob.png");
    }

    .player {
        padding-top: 25px;
        padding-bottom: 25px;
        width: 80%;
        text-align: center;
    }

    .small-headline-1 {
        width: 80%;
        margin: auto;
    }

    .monitor {
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-top: 20px;
    }

    button {
        width: 50px;
        height: 50px;
        font-size: 16px;
        line-height: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        margin: auto;
        top: 42%;
    }

}